<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div class="container" style="text-align: center; color:chocolate; background-color: #353e62; margin: 10%; padding: 3%;"></div>
    <div class="container" class="text-bg-primary p-3">
        <label for="name">UserName</label>
        <input type="text" name="name" id="name"></br></br>
        <label for="passwd">Password</label>
        <input type="password" name="passwd" id="passwd"></br></br>
        <!-- <button>Click Me!</button> -->
        <button type="submit" style="text-align: center;">Submit</button>
    </div>
    

</body>
</html>